<h1 class="my-3">Description:</h1>
<p class="lead my-2"><%= @album.description %></p>
<% if album.cover_image.attached? %>
    <%=link_to @album.cover_image, target: "_blank" do%>
      <%= image_tag(@album.cover_image, class:"img-fluid img border")%>
  	<%end%>
<%end%>
<div class="row mt-5">
    <% @album.images.each do |image|%>
    <div class="col-lg-4 my-3">
        <div class="card">
        <%=link_to image, target: "_blank" do%>
            <%= image_tag(image,class:'img-fluid img')%>
        <%end%>
        <div class="card-footer"> 
            <%= link_to 'View', image, target: "_blank", class: "btn btn-secondary mt-2" %>
        </div>
        </div>
    </div>
    <% end %>
</div>


<br>

