<div class="bg-light p-5">
        <%= form_with model: album do |form| %>

        <div class="field form-group">
          <%= form.label :title , class:'form-label fw-bold'%>
          <%= form.text_field :title, required: true, class: "form-control", placeholder: "Title" %>
          <% album.errors.full_messages_for(:title).each do |message| %>
          <p><%= message %></p>
          <% end %>
        </div>
        <br />
        <div class="field form-group">
          <%= form.label :description, class:'form-label fw-bold' %>
          <%= form.text_area :description, required: true, class: "form-control", placeholder: "Description" %>
          <% album.errors.full_messages_for(:description).each do |message| %>
           <p><%= message %></p>
          <% end %>
        </div>
        <br />
         <div class="field">
          <%= form.label :Tags, class:'form-label fw-bold' %>
          <%= form.text_field :all_tags, class: "form-control" %>
        </div>
        <br>
        

        <div class="field">
          <%= form.label :cover_image, class:'form-label fw-bold' %>
          <%= form.file_field :cover_image, class: "form-control" %>
          <% album.errors.full_messages_for(:cover_image).each do |message| %>
          <p><%= message %></p>
          <% end %>
        </div>
        
        
        <br />

        <div class="field">
          <%= form.label :Images, class:'form-label fw-bold' %>
          <%= form.file_field :images, :multiple =>true, class: "form-control" %>
        </div>
        <br />

        <div class="field">
         <%= form.label :publish, class:'form-label fw-bold' %> 
         <%= form.check_box :published %>
        </div>
        <br />

        <div>
          <%= form.submit %>
        </div>
        <% end %>

</div>
